<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.thisdote.communityfordevelopers.blacklist.query.BlackListMapper">

    <resultMap id="blackListResultMap" type="org.thisdote.communityfordevelopers.blacklist.query.BlackListDTO">
        <id property="blackListId" column="BLACKLIST_ID"/>
        <result property="blackListStatus" column="BLACKLIST_STATUS"/>
        <result property="userCode" column="USER_CODE"/>
        <result property="blackListCount" column="BLACKLIST_COUNT"/>
    </resultMap>

    <select id="selectAllBlackList" resultMap="blackListResultMap">
        SELECT
               A.BLACKLIST_ID
             , A.BLACKLIST_STATUS
             , A.USER_CODE
             , A.BLACKLIST_COUNT
          FROM BLACKLIST A
    </select>

</mapper>