<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.thisdote.communityfordevelopers.reported_reply.ReportedReplyMapper">
    <resultMap id="reportedReplyResultMap" type="org.thisdote.communityfordevelopers.reported_reply.ReportedReplyDTO">
        <id property="replyId" column="REPLY_ID"/>
        <result property="userCode" column="USER_CODE"/>
        <result property="reportDate" column="REPORT_DATE"/>
        <result property="reportContent" column="REPORT_CONTENT"/>
        <result property="reportReportedCount" column="REPORT_REPORTED_COUNT"/>
        <result property="reportType" column="REPORT_TYPE"/>
    </resultMap>

    <select id="selectAllReportedReply" resultMap="reportedReplyResultMap">
        SELECT
        A.REPLY_ID
        , A.USER_CODE
        , A.REPORT_DATE
        , A.REPORT_CONTENT
        , A.REPORT_REPORTED_COUNT
        , A.REPORT_TYPE
        FROM REPORTED_REPLY A
    </select>
</mapper>