<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.thisdote.communityfordevelopers.reported_article.query.ReportedArticleMapper">

    <resultMap id="reportedArticleResultMap" type="org.thisdote.communityfordevelopers.reported_article.query.ReportedArticleDTO">
        <id property="articleId" column="ARTICLE_ID"/>
        <result property="userCode" column="USER_CODE"/>
        <result property="reportDate" column="REPORT_DATE"/>
        <result property="reportContent" column="REPORT_CONTENT"/>
        <result property="reportReportedCount" column="REPORT_REPORTED_COUNT"/>
        <result property="reportType" column="REPORT_TYPE"/>
    </resultMap>

    <select id="selectAllReportedArticle" resultMap="reportedArticleResultMap">
        SELECT
               A.ARTICLE_ID
             , A.USER_CODE
             , A.REPORT_DATE
             , A.REPORT_CONTENT
             , A.REPORT_REPORTED_COUNT
             , A.REPORT_TYPE
          FROM REPORTED_ARTICLE A
    </select>

</mapper>